extends base

block content
    section#search
        #before-search(style=`display: ${keyword == undefined ? 'flex': 'none'}`)
            section.music-section#era
                .music-header 
                    .title-wrapper 
                        h2 Era #{keyword}
                .music-wrapper
                    .music 
                        .early-romantic.cover-wrapper(onclick="searchCategory('Early Romantic')") Early Romantic
                    .music
                        .middle-romantic.cover-wrapper(onclick="searchCategory('Middle Romantic')") Middle Romantic
                    .music    
                        .late-romantic.cover-wrapper(onclick="searchCategory('Late Romantic')") Late Romantic
                    .music    
                        .post-romantic.cover-wrapper(onclick="searchCategory('Post Romantic')") Post Romantic
            section.music-section#composer
                .music-header
                    .title-wrapper 
                        h2 Composers 
                    .buttons.desktop 
                        img.left(src="/static/icons/left.svg")
                        img.right(src="/static/icons/right.svg")
                .music-wrapper 
                    .music
                        .chopin.cover-wrapper(onclick="searchCategory('Frédéric Chopin')")
                        .info 
                            .title Frédéric Chopin
                    .music
                        .robert-schumann.cover-wrapper(onclick="searchCategory('Robert Schumann')")
                        .info 
                            .title Robert Schumann
                    .music
                        .schubert.cover-wrapper(onclick="searchCategory('Franz Schubert')") 
                        .info 
                            .title Franz Schubert
                    .music
                        .liszt.cover-wrapper(onclick="searchCategory('Franz Liszt')")
                        .info 
                            .title Franz Liszt
                    .music
                        .tchaikovsky.cover-wrapper(onclick="searchCategory('Pyotr Ilyich Tchaikovsky')")
                        .info 
                            .title Pyotr Ilyich Tchaikovsky
                    .music
                        .mendelssohn.cover-wrapper(onclick="searchCategory('Felix Mendelssohn')")
                        .info 
                            .title Felix Mendelssohn 
                    .music
                        .brahms.cover-wrapper(onclick="searchCategory('Johannes Brahms')")
                        .info 
                            .title Johannes Brahms
                    .music
                        .rachmaninov.cover-wrapper(onclick="searchCategory('Sergei Rachmaninov')")
                        .info 
                            .title Sergei Rachmaninov 
        #after-search(style=`display: ${keyword == undefined ? 'none': 'flex'}`)
            - if(info)
                .info-box(style=`background-image:url("/static/img/${info.picture}")`)
                    .years #{info.dates}
                    .title #{info.name}
                    p #{info.bio}
            #result-list 
                h2 Top result for "#{keyword}"
                - if(results !== undefined && results.length > 0)
                    each result in results
                        .result     
                            .cover-wrapper(onclick=`addPlaylist('${result.videoId}', '${result.title}', '${result.performer}', '${result.composer}', '${result.thumbnail}'); updateNowPlaying()`, style=`background-image:url(${result.thumbnail})`) 
                            .info 
                                .title #{result.title}
                                .performer #{result.performer}
                            img.add-to-queue(src="/static/icons/add_to_queue.svg", onclick=`addPlaylist('${result.videoId}', '${result.title}', '${result.performer}', '${result.composer}', '${result.thumbnail}')`)
                - else 
                    p No results found